@media (max-width:600px){
    #videos .repro-video video{
        width: 95%;
    }
    #container-uno a span{
   color: black;
   z-index: 3;
   font-size: 10px;
}
    .container-md{
    position: relative;
    width: 100px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animar 20s linear infinite;
}
.container-md img{
   position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 4px double black;
    }
    .container-md span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 35deg)) translateZ(300px);
    -webkit-box-reflect: none; 
}

}

@media (min-width: 600px){
    #videos .repro-video video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border-radius: 5px;
    border: 3px solid white;
    object-fit: contain;
}

}